   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
   }
    
    main {
      background-color: #E4E4E4;
      height: 100svh;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: 250px;
      border-radius: 20px;
      margin-top: 20px;
    }

    .qr-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      background-color: #ffffff;
      width: 300px;
      height: 450px;
      margin: auto;
      gap: 25px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .card-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      color: #313131;
      letter-spacing: -0.5px;
    }
    
    .description {
      color: #919191;
      font-size: 14px;
    }

    .attribution {
      font-size: 14px;
      padding: 10px;
      color: #616161;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }